doctype html
html
  head
    title="H8MAIL"
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(
      src='https://code.jquery.com/jquery-3.2.1.min.js'
      integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
      crossorigin='anonymous'
    )
    script(src='/javascripts/cursor.js')
    script(src='/javascripts/script.js')
    script(src='/javascripts/snake.js')
  body
    block content
